.canton-control {
    -base-color: black;
    -fx-background-color: white;
    -fx-font-family: "Roboto Light";
}

.canton-control .heading {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Bold";
}

.canton-control .editable-canton {
    -fx-border-color: #a1a1a1;
    -fx-border-radius: 5px;
}

.canton-control:not(:mandatory) .editable-canton {
    -fx-border-color: gray;
}
.canton-control:mandatory .editable-canton {
    -fx-border-color: black;
}

.canton-control:invalid .editable-canton {
    -fx-border-color: red;
}

.canton-control:convertible .editable-canton {
    -fx-border-color: green;
}

.canton-control .read-only-canton {
    -fx-font-size: 22px;
    -fx-color: #a1a1a1;
}


.canton-control .chooserButton {
    -fx-background-color: transparent;
}